* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.openbrush-art {
  font-size: 5.2rem;

  text-align: center;
  padding-bottom: 18rem;
  padding-top: 10.2rem;
  color: #ddd;
}
.openbrush-art::after {
  border-bottom-style: groove;

  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  width: 50%;
  padding-top: 1.2rem;
  border-bottom: 0.2rem solid #cf711f;
}

.controls-container {
  max-width: 50rem;
  padding: 2rem 2rem 2rem 2rem;
  margin: 0 auto;
  background-color: #0f0f0f;
  box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.5);
  border-style: dotted;
  border-color: #7c4413;
}

.openbrush-controls-title {
  font-size: 2.8rem;
  text-shadow: 0.4rem 0.4rem 0.5rem #cf711f;
  padding-left: 1rem;
  padding-bottom: 2rem;
  color: #ddd;
}

.model-padding-top {
  padding-top: 3rem;
}

.controls-list {
  display: inline-block;
  padding-left: 3rem;
  line-height: 2rem;

  font-size: 1.8rem;
  color: #ddd;
}

.openbrush-container {
  padding-left: 15rem;
}

.openbrush-model1 {
  font-size: 3.8rem;
  text-align: center;
  padding-bottom: 4rem;
  color: #ddd;
}
.openbrush-model2 {
  font-size: 3.8rem;
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 8rem;
  color: #ddd;
}

.openbrush-model {
  max-width: 120rem;
}

canvas {
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 140rem;
  max-height: 70rem;
  padding-bottom: 5rem;
}
