/* html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(#efefef, #cccccc);
} */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.openbrush-art {
  font-size: 5.2rem;
  /* text-shadow: 4px 4px 5px #cf711f; */

  /* background-color: orange; */
  text-align: center;
  padding-bottom: 8rem;
  padding-top: 10.2rem;
  color: #ddd;
}
.openbrush-art::after {
  border-bottom-style: groove;

  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  width: 50%;
  padding-top: 1.2rem;
  border-bottom: 0.2rem solid #cf711f;
}

.openbrush-container {
  padding-left: 15rem;
}

.openbrush-model1 {
  font-size: 3.8rem;
  /* background-color: orange; */
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 10.2rem;
  color: #ddd;
}
.openbrush-model2 {
  font-size: 3.8rem;
  /* background-color: orange; */
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 8rem;
  /* padding-top: 10.2rem; */
  color: #ddd;
}

.openbrush-model {
  max-width: 120rem;
}

canvas {
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 140rem;
  max-height: 70rem;
  padding-bottom: 5rem;
  /* color: #000; */
  /* position: absolute; */
  /* left: 0; */
  /* top: 0; */
  /* right: 0; */
  /* bottom: 0; */
}
