@media (max-width: 97em) {
  html {
    /* 9px / 16px  */
    /* font-size: 56.25%; */
  }

  .main-container {
    max-width: 120rem;
  }

  .vr-art-container {
    max-width: 120rem;
  }

  canvas {
    max-width: 120rem;
    max-height: 100rem;
  }
}

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .main-container {
    max-width: 100rem;
  }

  .vr-art-container {
    max-width: 100rem;
  }

  canvas {
    max-width: 100rem;
    max-height: 100rem;
  }

  .audio-text {
    padding-left: 10rem;
  }
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .openbrush-art::after {
    width: 65%;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    /* font-size: 56.25%; */
  }

  .profile-picture {
    height: 12.5rem;
  }

  .main-header {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .about-me1 {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2rem;
  }
  .about-me2 {
    padding-bottom: 10rem;
  }

  .javelin-archievements-item {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2rem;
  }

  .javelin-archievements-title {
    padding-left: 18rem;
    padding-right: 2rem;
  }

  .javelin-archievements {
    padding-left: 17rem;
    line-height: 2.8rem;
  }

  .social-media {
    padding-left: 3rem;
    padding-right: 7rem;
    padding-bottom: 3rem;
  }
  .header-info {
    font-size: 6.4rem;
    padding-left: 2rem;
  }

  .header-description {
    font-size: 3rem;
    /* padding-left: 3rem; */
    margin-left: 3rem;
    display: inline-block;
  }
  .welcome {
    padding-left: 3rem;
  }

  .fa {
    font-size: 6rem;
  }

  .main-container {
    max-width: 80rem;
  }

  .vr-art-container {
    max-width: 80rem;
  }

  canvas {
    max-width: 80rem;
    max-height: 80rem;
  }

  audio {
    max-width: 60rem;
  }

  .audio-text {
    padding-left: 6rem;
  }

  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .silverbird-review {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2rem;
  }

  .video-gallery-container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    /* font-size: 50%; */
  }
  .nav-header {
    box-shadow: inset 0rem 1.1rem 0.8rem -1.7rem #fff,
      inset 0rem -0.5rem 0.8rem -1.1rem #333;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .icon-mobile-nav {
    height: 6.6rem;
    width: 6.6rem;
    color: #ddd;
  }

  .nav-header {
    justify-content: right;
    padding-right: 1rem;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  .main-container {
    /* box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.5); */
    box-shadow: none;
    /* padding-bottom: 0; */
  }

  .profile-picture2 {
    /* height: 30rem; */
    width: 60%;
  }

  .main-nav {
    background-color: #333;
    position: absolute;
    top: 6.4rem;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    z-index: 1;

    display: flex;
    align-items: top;
    padding-top: 1rem;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .audio-text {
    padding-left: 12rem;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-link {
    font-size: 3rem;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-container {
    max-width: none;
    margin-top: 0;
  }

  .vr-art-container {
    max-width: none;
    margin-top: 0;
  }

  canvas {
    margin: 0 auto;
    max-height: 85rem;
    max-width: 70rem;
  }
}

/**************************/
/* BELOW 800px (Smaller tablets) */
/**************************/

@media (max-width: 50rem) {
  .main-header {
    padding-bottom: 9rem;
    padding-top: 9rem;
  }
  .profile-picture {
    height: 13.5rem;
  }
}

/**************************/
/* BELOW 752px */
/**************************/
@media (max-width: 47em) {
  audio {
    max-width: 45rem;
  }
  /* .video-gallery-container {
    padding-left: 5rem;
    padding-right: 5rem;
  } */

  canvas {
    /* margin: 0 auto; */
    max-height: 76rem;
    max-width: 50rem;
  }

  .profile-picture2 {
    /* height: 30rem; */
    width: 70%;
  }
  .openbrush-art::after {
    width: 75%;
  }
  .controls-container {
    max-width: 40rem;
  }
  .controls-list {
    padding-left: 6rem;
  }
  .openbrush-controls-title {
    padding-left: 4rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
  }
  .profile-picture2 {
    /* height: 30rem; */
    width: 80%;
  }
  .header-info {
    font-size: 5.6rem;
  }
  .header-description {
    font-size: 2.4rem;
  }

  .javelin-archievements-title {
    padding-left: 12rem;
    padding-right: 2rem;
  }

  .javelin-archievements {
    padding-left: 12rem;
    padding-right: 12rem;
  }
  canvas {
    max-height: 80rem;
    max-width: 52rem;
  }
}

/**************************/
/* BELOW 608px */
/**************************/
@media (max-width: 38em) {
  audio {
    max-width: 30rem;
  }

  .profile-picture2 {
    /* height: 30rem; */
    width: 90%;
  }

  .header-info {
    font-size: 4.8rem;
    padding-left: 1rem;
  }

  .header-description {
    font-size: 1.9rem;
    /* padding-left: 0rem; */
    margin-left: 1.6rem;
  }

  .javelin-archievements-title {
    padding-left: 6rem;
    padding-right: 2rem;
  }

  .javelin-archievements {
    padding-left: 10rem;
    padding-right: 2rem;
  }
  canvas {
    max-height: 78rem;
    max-width: 46rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  canvas {
    /* margin: 0 auto; */
    max-height: 80rem;
    max-width: 40rem;
  }

  .profile-picture2 {
    /* height: 30rem; */
    width: 100%;
  }

  .openbrush-art::after {
    width: 90%;
  }

  .controls-container {
    max-width: 32rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .controls-list {
    padding-left: 3.4rem;
  }
  .openbrush-controls-title {
    padding-left: 1.6rem;
  }

  .ai-art-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-info {
    font-size: 4.2rem;
    padding-left: 0rem;
  }
  .header-description {
    font-size: 1.9rem;
    /* padding-left: 0rem; */
    margin-left: 0.2rem;
  }

  .audio-text {
    padding-left: 7rem;
    /* padding-right: 14rem; */
  }

  /* .container {
    padding-left: 0rem;
    padding-right: 0rem;
  } */
  .gameprojects-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .social-media {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .beatsaber-other-custom-songs-title {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .javelin-archievements-title {
    padding-left: 4rem;
    padding-right: 2rem;
    font-size: 3.8rem;
  }
  .javelin-archievements {
    padding-left: 5rem;
  }
}

/**************************/
/* BELOW 496px */
/**************************/

@media (max-width: 31em) {
  .javelin-archievements-title {
    padding-left: 1.8rem;
    padding-right: 0rem;
  }
  .javelin-archievements {
    padding-left: 7rem;
  }
  .profile-picture {
    height: 12rem;
  }
  .openbrush-art {
    font-size: 4.6rem;
  }
  .openbrush-art::after {
    width: 85%;
  }
  .main-header {
    padding-left: 1.8rem;
  }
  .header-info {
    font-size: 3.8rem;
  }
  .header-description {
    font-size: 1.7rem;
    /* padding-left: 0rem; */
    margin-left: 0.2rem;
  }
  .audio-text {
    padding-left: 4rem;
    /* padding-right: 14rem; */
  }

  .social-media {
    padding-left: 3rem;
  }

  .controls-container {
    max-width: 28rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .controls-list {
    padding-left: 3.4rem;
  }
  .openbrush-controls-title {
    padding-left: 1.6rem;
    padding-bottom: 1.4rem;
  }

  canvas {
    /* margin: 0 auto; */
    max-height: 75rem;
    max-width: 35rem;
  }
}

/**************************/
/* BELOW 432px */
/**************************/

@media (max-width: 27rem) {
  canvas {
    /* margin: 0 auto; */
    max-height: 78rem;
    max-width: 32rem;
  }
  .openbrush-art {
    font-size: 4.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 14rem;
  }
  .openbrush-art::after {
    width: 100%;
  }

  .openbrush-controls-title {
    font-size: 2.6rem;
  }
  .openbrush-model1 {
    font-size: 3.2rem;
  }

  .openbrush-model2 {
    font-size: 3.2rem;
  }

  .javelin-archievements-title {
    padding-left: 1rem;
    padding-right: 0rem;
    font-size: 3.2rem;
  }
  .javelin-archievements {
    padding-left: 6rem;
  }
  .audio-text {
    padding-left: 1.4rem;
    /* padding-right: 8rem; */
  }
  .piano-improvs {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .header-info {
    font-size: 3.2rem;
  }
  .header-description {
    font-size: 1.7rem;
    /* padding-left: 0rem; */
    margin-left: 0.2rem;
  }
  .main-header {
    padding-right: 0.3rem;
  }

  .fa {
    font-size: 4.8rem;
  }

  .social-media {
    padding-left: 2rem;
  }
}
